[Unit]
Description=Docker metrics bridge
After=network.target
[Service]
User=root
Group=root
ExecStart=/usr/sbin/docker_bridge
Type=simple
Restart=on-failure
KillMode=control-group
RestartSec=10s

[Install]
WantedBy=multi-user.target
